<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Twilio SMS App</display-name>

    <servlet>
        <servlet-name>SMSManager</servlet-name>
        <servlet-class>com.walkerchristie.content.SMSManager</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SMSManager</servlet-name>
        <url-pattern>/sms</url-pattern>
    </servlet-mapping>
</web-app>